// Magic Numbers 

$point-base  : 24px;
$max-width   : $point-base*100; // 
$min-width   : 320px; // 320 is smallest mobile screen worth supporting
$main-margin : $point-base*3;

// Breakpoints 

$break-small : 480px;
$break-large : 900px;

// Colors 

$color-dark1 : #335544; // Green
$color-dark2 : #584462; // Purple
$color-dark3 : #A14B41; // Red
$color-dark4 : #333333; // Off-black

$color-neutral1 :#EFF5EF; 

$color-light1 : #B9DAC8; // Green
$color-light2 : #CBA8E0; // Purple
$color-light3 : #DABCB9; // Red

$color-accent1 : #FFF891; // Yellow
$color-accent2 : #B9DAC8; // Green

$color-white : #FFFFFF;

// Web Fonts

@import url(https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700);
@import url(https://fonts.googleapis.com/css?family=Crimson+Text:400,400i,700,700i);

@mixin font-serif    { font-family: "Crimson Text" }
@mixin font-sans { font-family: "Lato" }

// TYPOGRAPHY

// Sizes

@mixin size-small   { font-size: $point-base * 0.7 ; line-height: $point-base; } 
@mixin size-medium  { font-size: $point-base * 0.9 ; line-height: $point-base * 1.1; } 
@mixin size-large   { font-size: $point-base * 1.0 ; line-height: $point-base * 1.2; } 
@mixin size-xlarge  { font-size: $point-base * 1.5 ; line-height: $point-base * 2; } 
@mixin size-xxlarge { font-size: $point-base * 2.5 ; line-height: $point-base * 3; }

@mixin max-out-width { margin-left:auto; margin-right:auto; max-width: 700px;}  
