// INTRO

.home-intro {

	h1 { color: $color-dark1;
		@include size-xxlarge;
		margin-bottom:$point-base;
		text-align:center;
	}
	
	p {
		@include size-large;
		line-height: $point-base * 1.25;
		margin-bottom: $point-base;
	}

	img.profile-image { 
		float:right; 
		width:200px; 
		margin:0 0 24px 24px;
		border-radius: 50%;
		padding-top: $point-base *.25;
	}
}

// CLIENTS

.home-clients {
	background-color:$color-white;
	border: 1px solid #ccc;
	border-width:1px 0;

	h1 {
		text-align:center;
		margin-bottom:$point-base;
	}
	.client-list {
		@include max-out-width;
		text-align:center;
		li {
			display:inline-block;
			img {
				width:150px;
				padding:10px;
			}
		}
	}
}

// POST LIST

.home-posts {

	h1 { 
		text-align:center;
		margin-bottom:$point-base;
	}
	.home-post-list {
		li {
			margin-bottom:$point-base;
		}

		@include max-out-width;

		.post-meta {
			@include font-serif;
			@include size-medium;
		}

		a.post-link {
			display:block;
			@include font-sans;
			@include size-large;
			color:$color-dark3;
			font-weight:bold;
			margin-top:0;
			line-height: $point-base * 1.1;
		}
	}
}
@media only screen and (max-width: 750px) {
	.home-intro h1 {
		font-size: $point-base * 1.5;
		line-height: $point-base * 2;
	}
}

@media only screen and (max-width: 500px) {

	.home-clients h1, .home-posts h1 {
		font-size: $point-base * 1;
		line-height: $point-base * 1.4;
	}
	
	.home-clients .client-list li img {
		width: 90px;
		padding: 5px;
	}

	.home-intro {
		h1 {
			font-size: $point-base * 1.2;
			line-height: $point-base * 1.5;
			margin-bottom: $point-base * 1;
		}
		img.profile-image {
			width: 120px;
			margin: 0 0 14px 14px;
		}

		p {
			font-size: $point-base * .9;
			line-height: $point-base * 1.1
		}

	}

}

div.more-link {
	margin:$point-base*2 auto $point-base auto;
	text-align:center;

	a {
		display:inline-block;
		@include size-medium;
		@include font-sans;
		color: #fff;
		background-color:$color-dark3;
		padding: $point-base * 0.3 $point-base;
		border-radius: 50px;	
	}	
}