#heroImage { 
	background-position: center center;
	background-repeat: no-repeat;
	background-size:100%;
	height:225px;
	background-color:#335544;  
	background-image: url('/assets/img/jet.jpg');

	display: flex;
    align-items: center;
    justify-content: center;
}

#heroImage .logo {
	position:absolute;
	left:$main-margin;
	top: $point-base*2;
	height:$point-base*4;
}
#heroImage .content {
	display:block;
	text-align:center;
}

#heroImage h1 { display:block; font-size:8vw; font-family:"Open Sans"; color:#fff; line-height:1.5; margin:0; padding:0;}
#heroImage h2 { display:block; font-weight:normal; font-size:3.2vw; font-family:$heading-font; color:$color-accent1; line-height:1; margin:0; padding:0; }

.post-list li { margin-bottom:$point-base*3; font-family: $heading-font;}
.post-list li:last-child { margin-bottom:0; }

#about {
	background-color: $color-dark2;
	padding: ($point-base * 4) 0;
}

#about .content {
	max-width:$max-width; 
	margin:0 auto; 
	min-width:$min-width; 
	padding: 0 $main-margin;
	color: $color-light2;
	font-size: $point-base *2;
	line-height: $point-base * 3;
}

@media only screen and (min-width: $point-base * 95) { 
	#about .content {  
		padding: 0 $main-margin*2;
	}
} 

#about h1 {
	color: $color-light2;
	font-size: $point-base * 3;
}

img.profile-image { 
	float:right; 
	width:150px; 
	margin:0 0 24px 24px;
}

@media only screen and (max-width: 449px) { #heroImage h1 { font-size: 12vw; } #heroImage h2 { font-size: 4.7vw; }}
@media only screen and (min-width: 450px) { #heroImage { height:250px; } #heroImage .logo { height:$point-base * 6}}
@media only screen and (min-width: 650px) { #heroImage { height:350px; } }
@media only screen and (min-width: 900px) { #heroImage { height:400px; } }