body.homepage .site-header {
	padding-top: $point-base;
	@media only screen and (max-width: 720px) {
		padding-top: $point-base * .25;
	}

	.site-logo {
		height: 3 *  $point-base;
		width: 3 *  $point-base;
		display:inline-block;
		margin-right: 0.3 *  $point-base;

		@media only screen and (max-width: 720px) {
			height: 2 *  $point-base;
			width: 2 *  $point-base;
		}
	}

	.site-navbar ul li.homelink { display:none; }

}

// BLURB

.home-blurb {
	h1{
		@include font-serif;
		@include size-xxlarge;
		margin-bottom:0;

		@media only screen and (max-width: 720px) {
			@include size-xlarge;
		}
	} 

	@media only screen and (max-width: 720px) 
	{
		padding-top: $point-base*.5;
	}
}

// INTRO

.home-intro {

	background-image:url("../img/paper_fibers_@2X.png");
	background-size: 410px 410px;
	background-color: #F0F2F2;

	h1 { color: $color-dark4;
		@include size-xlarge;
		line-height:1.3em;
		text-align:left;
		margin-bottom: $point-base * 1;
		@include font-serif;
	}
	
	img.profile-image { 
		float:right; 
		width:150px; 
		margin:0 0 $point-base*1.5 $point-base*1.5;
		border-radius: 100%;
		padding-top: $point-base *.25;
	}

	@media only screen and (max-width: 600px) {
		h1 {
			font-size: $point-base * 1.2;
			line-height: $point-base * 1.5;
			margin-bottom: $point-base * 1;
		}
		img.profile-image {
			width: 120px;
			margin: 0 0 $point-base $point-base;
		}

		p {
			@include size-medium;
		}
	}
}


// CLIENTS

.home-clients {
	border: 1px solid #ccc;
	border-width:1px 0;

	h1 {
		text-align:center;
	}

	.client-list {
		@include max-out-width;
		text-align:center;
		li {
			display:inline-block;
			img {
				width:150px;
				padding:20px;
			}
		}
	}

	@media only screen and (max-width: 600px) {
		
		.client-list li img {
			width: 120px;
			padding: 5px;
		}
	}
}

// POST LIST

.home-posts {

	background-image:url("../img/paper_fibers_@2X.png");
	background-size: 410px 410px;
	background-color: #F0F2F2;

	h1 { 
		text-align:center;
		margin-bottom:$point-base;
	}
	.home-post-list {
		margin-bottom:$point-base*2;
		li {
			margin-bottom:$point-base*1.5;
		}

		@include max-out-width;

		.post-meta {
			color:#666;
			display:block;
			@include font-sans;
			@include size-small;
			margin-bottom: $point-base *.4;
		}

		a.post-link {
			display:block;
			@include font-serif;
			@include size-large;
			color:$color-dark3;
			font-weight:bold;
			margin-top:0;
		}
	}
}