.post-list {
	margin-top: $point-base * 2;
	li {
			margin-bottom:$point-base;
		}

		@include max-out-width;

		.post-meta {
			color:$color-dark1;
			display:block;
			@include font-serif;
			@include size-medium;
			margin-bottom: $point-base *.4;
		}

		a.post-link {
			display:block;
			@include font-serif;
			@include size-large;
			color:$color-dark3;
			font-weight:bold;
			margin-top:0;
			line-height: $point-base * 1.1;
		}

}