.post-list {
	margin-top: $point-base;
	li {
			margin-bottom:$point-base*1.5;
		}

		@include max-out-width;

		.post-meta {
			color:#666;
			display:block;
			@include font-sans;
			@include size-small;
			margin-bottom: $point-base *.4;
		}

		a.post-link {
			display:block;
			@include font-serif;
			@include size-large;
			color:$color-dark3;
			font-weight:bold;
			margin-top:0;
		}

}