/* Magic Numbers */

$point-base  : 8px;
$grid-base   : $point-base*3;
$max-width   : $point-base*100; // 
$min-width   : $point-base*40; // 320 is smallest mobile screen worth supporting
$main-margin : $point-base*3;

/* Colors */

$color-dark1 : #335544; // Green
$color-dark2 : #584462; // Purple
$color-dark3 : #A14B41; // Red
$color-dark4 : #333333; // Off-black

$color-light1 : #B9DAC8; // Green
$color-light2 : #CBA8E0; // Purple
$color-light3 : #DABCB9; // Red

$color-accent1 : #FFF891; // Yellow
$color-accent2 : #B9DAC8; // Green

$color-white : #FFFFFF;

/* Typography */

@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Merriweather:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

$body-font:    "Lato";
$heading-font: "Merriweather";

h1, h2 { 
	font-family: $heading-font,sans-serif; 
	font-weight: bold;
	color:$color-dark4;
}

body { 
	background-color: #fff; 
	font-family: $body-font, sans-serif; 
	font-size:   20px;
	line-height: $point-base * 4; 
	color:       $color-dark4; 
}

h1 { 
	font-size:     44px; 
	line-height:   $point-base * 7; 
	color:		   $color-dark4; 
	margin-bottom: $point-base * 3;
}

h2 { 
	font-size:   $point-base * 4;
	line-height: $point-base * 5;
}

/* Homepage Only */
ul.post-list { margin-top: $point-base * 2; }
a.post-link {
	display:block;
	font-weight:bold;
	font-family:$heading-font;
	font-size:24px;
}

header.site-header {
	background-color:$color-dark1;
	padding: 0 $main-margin;
	margin-bottom:$point-base *4;
}

header.inner { 
	max-width:$max-width; 
	min-width:$min-width;
	text-align:left; 
	margin:auto;
	height: $point-base * 6;
	color:#fff;
}
header.inner a { color:#fff; }

header img { height:$point-base*6; margin-top:$point-base*2; }

a { color:$color-dark3; text-decoration:none;}
em { font-style: italic;}
strong {font-weight: 700;}

#heroImage { 
	background-position: center center;
	background-repeat: no-repeat;
	background-size:100%;
	height: 150px;
	background-color:#9ECDEB;  
	margin-top: 0-$point-base * 4; /* Override in under header */
	margin-bottom: $point-base * 3;
	background-image: url('/assets/img/jet.jpg');

	display: flex;
    align-items: center;
    justify-content: center;
}

#heroImage .content {
	display:block;
	text-align:center;
}

#heroImage h1 { display:block; font-size:8vw; font-family:"Open Sans"; color:#fff; line-height:1.5; margin:0; padding:0;}
#heroImage h2 { display:block; font-weight:normal; font-size:3.2vw; font-family:$heading-font; color:$color-accent1; line-height:1; margin:0; padding:0; }

@media only screen and (min-width: 450px) { #heroImage { height:250px; } }
@media only screen and (min-width: 650px) { #heroImage { height:350px; } }
@media only screen and (min-width: 900px) { #heroImage { height:400px; } }

article time { 
	margin-bottom: $point-base *4; 
	font-size:2*$point-base; 
	line-height:$grid-base; 
	color:$color-dark1;
	display:block; 
	line-height:$grid-base;
}

p {margin:$grid-base 0;}

blockquote { 
	color:$color-dark1; 
	border-left: solid 3px $color-dark1; 
	margin-left:$point-base * 2; 
	background-color:$color-light1; 
	padding:$point-base * 2 $point-base * 3;
}

blockquote *:first-child { margin-top: 0; }
blockquote *:last-child { margin-bottom: 0; }

.post-list li {margin-bottom:$point-base*3;}

.page-content {  
	max-width:$max-width; 
	margin:0 auto; 
	min-width:$min-width; 
	padding: 0 $main-margin;
} 

.post-image { 
  width:100%; height:$grid-base*8;
  object-fit: cover; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
  margin-bottom:$grid-base;
  display:block;
}

pre, xmp, plaintext, listing {
    display: block;
    font-family: monospace;
    white-space: pre;
    margin: 1em 0px 1em;
    line-height:$point-base * 3;
}

footer {
	font-size: $point-base * 2;
  	padding: $point-base*4 0;
  	background-color: $color-dark4;
  	color: #fff;
  	display: block;
  	text-align: center;
  	line-height: $point-base * 4;
  	clear: both;
	margin-top: $point-base * 5;
}

footer a { color: $color-light2; }

/* from the Minima theme */

.pageNavigation {
	line-height:$point-base*3;
 	font-size: $point-base * 2;
 	display: block;
 	width: auto;
 	overflow: hidden;
}

.pageNavigation .prev, .pageNavigation .next {
 	display: block;
 	width: 50%;
 	float: left;
 	margin: 1em 0;
}

.pageNavigation .next {
	text-align: right;
}

.pageNavigation .heading {
	line-height:$point-base * 2;
	font-size:$point-base * 1.6;
	font-weight:bold;
}

/** Code formatting */
pre, code { font-size: 15px; border: 1px solid #e8e8e8; border-radius: 3px; background-color: #eef; }
code { padding: 1px 5px; }
pre { padding: 8px 12px; overflow-x: auto; }
pre > code { border: 0; padding-right: 0; padding-left: 0; }

/** Large screen embiggening */

@media only screen and (min-width: $point-base * 95) { 


	header.site-header {
		padding: 0 $main-margin*2;
		margin-bottom:$point-base*4;
	}

	.page-content {  
		padding: 0 $main-margin*2;
	} 

	.pageNavigation {
		line-height:$point-base * 4;
 		font-size: $point-base * 3;
	}

	.pageNavigation .heading {
		line-height:$point-base * 3;
		font-size:$point-base * 2;
	}

	#heroImage { 
		margin-bottom: $point-base * 5;
	}

}


