$grid-base : 24px;
$max-width: 462px;

body { background-color:#fff; font-family:"Noto Sans",serif; padding:24px; color:#333; font-size:15px;}
header { background-color:#335544; height:$grid-base*3; margin:-24px -24px $grid-base -24px; text-align:center;}
header.inner { max-width:$max-width; min-width:320px; text-align:left; margin:auto; padding:0 24px;}
header img { height:$grid-base*2; margin-top:$grid-base/2}

a { color:#A14B41;}
h1 { letter-spacing:0px; font-size:40px; font-weight:700; font-family:"Merriweather",sans-serif; line-height:$grid-base*2; color:#333; margin-bottom:$grid-base;}
article time { font-size:15px; line-height:$grid-base; color:#335544; text-align:center; display:block; line-height:$grid-base;}

p {margin:$grid-base 0; line-height:1.5em; line-height:$grid-base;}
blockquote { border-left: solid 3px #335544; margin-left:20px; font-style:italic; background-color:#B9DAC8; padding:$grid-base;}
blockquote *:first-child { margin-top: 0; }
blockquote *:last-child { margin-bottom: 0; }
article { max-width:$max-width; margin:0 auto; min-width:272px; } 

.post-image { 
  width:100%; height:$grid-base*8;
  object-fit: cover; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
  margin-bottom:$grid-base;
  display:block;
}