// BASIC TYPOGRAPHY STUFF

html {
	@include font-serif;
	box-sizing: border-box;
	color:#333;
}

body {
	min-width:$min-width;
	background-color:$color-dark1; // Used for iOS overscroll color
	background-image:url("../img/green_paper_fibers_@2X.png");
	background-size: 410px 410px;
	background-color: #F0F2F2;
}

em { 
	font-style:italic;
}
strong {
	font-weight:700;
}

a  {
	color: $color-dark3;
	text-decoration:none;
}

p a, li a, blockquote a {
	font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
	@include font-sans;
	font-weight:bold;
	margin-bottom:$point-base;
}

p  {
	@include size-medium;
	margin-bottom: $point-base;
}

blockquote { 
	@include max-out-width;
	@include font-sans;
	border-left: solid 3px $color-dark1; 
	margin: auto;
	background-color:$color-light1; 
	padding:$point-base $point-base;
	font-style:italic;
	margin-bottom: $point-base;
}

blockquote *:first-child { margin-top: 0; }
blockquote *:last-child { margin-bottom: 0; }

/** Code formatting */
pre, code { font-size: 15px; border: 1px solid #e8e8e8; border-radius: 3px; background-color: #eef; }
code { padding: 1px 5px; }
pre { padding: 8px 12px; overflow-x: auto; }
pre > code { border: 0; padding-right: 0; padding-left: 0; }

pre, xmp, plaintext, listing {
    display: block;
    font-family: monospace;
    white-space: pre;
    margin: 1em 0px 1em;
    line-height:$point-base * 3;
}

// BANDS

.band {
	padding: $point-base*1.5 $point-base*1.5;
    background-color: $color-white;

    // Smaller screen = smaller margins

  	h1	{
		@include size-xlarge;
		@include max-out-width;
	}

	p	{
		@include max-out-width;
	}

	@media screen and (max-width: $break-small) {
    	padding: $point-base *1;
    	float: none;
    	
    	h1	{
			@include size-large;
			@include max-out-width;
		}
  	}

}

section.band > *:first-child {
	margin-top:0;
}

section.band > p:last-child {
	margin-bottom:0;
}

section.band.light1 { background-color: $color-light1; }
section.band.light2 { background-color: $color-light2; }
section.band.light3 { background-color: $color-light3; }

section.band.neutral1 { background-color: $color-neutral1; }

section.band.dark1 { 
	background-color: $color-dark1; 
	color:$color-light1;
	background-image:url("../img/green_paper_fibers_@2X.png");
	background-size: 410px 410px;
}
section.band.dark2 { background-color: $color-dark2; color:$color-light2;}
section.band.dark3 { background-color: $color-dark3; color:$color-light3;}

h1.page-heading {
	@include size-xxlarge;
}

h2.page-heading {
	@include size-large;
}

// SITE HEADER AND NAVBAR

.site-header {

	height: 3 * $point-base;
	padding:0 $point-base * 1.5;
	
	@media screen and (max-width: $break-small) {
    	padding:0 $point-base *1;
    	float: none;
  	}

	.header-content {
		@include max-out-width;
	}

	.site-logo-lockup {
		height: 2 * $point-base;
		margin-top: $point-base / 2;
		display: inline-block;
	}
	.site-logo {
		height: 2 *  $point-base;
		width: 2 *  $point-base;
		display:inline-block;
		margin-right: 0.3 *  $point-base;
	}
	.site-title {
		display:none;
    	text-shadow: 1px 1px rgba(0,0,0,0.8);
		text-align:left;
		font-family: "Lato";
		color: $color-white;
		float:right;
		font-size: $point-base * 0.85;
		line-height: $point-base * .95;
		letter-spacing: 0.5px;

		margin-top: $point-base *.13;

	}
}

.site-navbar {
	height: 3 * $point-base;
	float:right;
	/*border-top: 2px solid $color-dark4;*/
	/*background-color: lighten( $color-dark1, 10% );
	background-size: 50px 50px;*/
	text-align: center;
	display: flex;
    align-items: center;
    justify-content: center;
	@include font-sans;

	ul {

		padding:0;
		font-size:0;

		li {
			display: inline;

			a {
				font-size: $point-base * .8;
				color: $color-accent1;
				text-decoration: none;
				padding-right: $point-base * .5;
				padding-left: $point-base * .5;
			}
		}

		li:last-child a {
			border-right: 0;
			padding-right: 0;
		}	
		li:first-child a {
			padding-left: 0;
		}
	}
}

footer {
	padding: $point-base;
	background-color: $color-dark1;
	display:block;
	text-align: center;
	@include font-sans;
	color: $color-white;
	a {
		color: $color-accent1;
	}

	.footer-logo {
		text-align:center;
		img {
			margin-top: $point-base *.75;
			height:30px;
			width:30px;
		}
	}
}

article time { 

	line-height:$point-base; 
	color:$color-neutral2;
	display:block; 
	@include font-sans;
	@include size-small;
	@include max-out-width;
	text-align:left;
	margin-bottom:$point-base;
}

.page-content {  
	max-width:$max-width; 
	margin:0 auto; 
	min-width:$min-width; 
	padding: ($point-base * 6) $main-margin;
} 

.post {
	h2, h1, p, ol, ul {
		@include max-out-width;
	}
	p, ol li, ul li { 
		@include size-medium;
	}
	h2 { @include size-large;}

	ol, ul { list-style-position: outside; margin:auto; text-indent:0; position:relative; left: $point-base; }
	ol li, ul li { padding-left:$point-base*.5;}

	ol li { list-style-type:decimal;}
	ul li { list-style-type:disc;}
}

.post iframe {
	margin:$point-base auto $point-base auto;
	display:block;
	max-width:100%;
}

.post-title {
	margin-top:0;
}

.post-image { 
  width:100%; height:$point-base*8;
  object-fit: cover; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
  margin-bottom:$point-base;
  display:block;
}

.content-image { 
  margin:auto;
  max-width:100%; 
  margin-bottom:$point-base;
  display:block;
}

.post p.caption {
	text-align:center;
	margin:$point-base auto;
	color:$color-neutral2;
	@include font-sans;
	@include size-small;
	display:block;
	width:100%;
}


/* from the Minima theme */

.pageNavigation {
	@include size-medium;
 	display: block;
 	width: auto;
 	overflow: hidden;
 	@include max-out-width;
}

.pageNavigation .prev, .pageNavigation .next {
 	display: block;
 	width: 50%;
 	float: left;
 	margin: 1em 0;
}

.pageNavigation .prev a, .pageNavigation .next a {
	display:block;
	line-height:1.25em;
}

.pageNavigation .next {
	text-align: right;
}

.pageNavigation .heading {
	@include size-medium;
	margin-bottom:0;
	font-weight:bold;
}

.round-button {
	margin:$point-base auto $point-base auto;
	text-align:center;

	a {
		display:inline-block;
		@include size-medium;
		@include font-sans;
		color: #fff;
		background-color:$color-dark3;
		padding: $point-base * 0.3 $point-base;
		border-radius: 50px;	
	}	
}
