<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body class="homepage">

    {% include header.html %}

    <section class="band home-blurb dark1">
      <h1>Jeff Chausse is a user experience designer based in Boston, Mass.</h1>
    </section>
    
    <section class="band home-intro">

      <p><img src="assets/img/jeff.jpg" class="profile-image">I&rsquo;ve been creating web sites and mobile apps for almost 20 years — first as a developer, and now as a user experience designer.</p>

      <p>I&rsquo;ve worked in a variety of environments, including big companies, agencies, startups, and video game studios. Colleagues appreciate my ability to design excellent user experiences even under challenging technical and resource constraints. I&rsquo;m like the <a href="https://www.youtube.com/watch?v=JFyr74uwvvs">Winston&nbsp;Wolf</a> of UX design. I solve problems. </p>

      <p>I currently work for <a href="http://www.forrester.com">Forrester Research</a>, designing our client website and mobile apps.</p>

      <p>You can find out more about my professional experience on <a href="http://www.linkedin.com/in/chausse">LinkedIn</a>. I also blather on <a href="http://www.twitter.com/jeffchausse">Twitter</a> a whole lot.</p>

    </section>
    
    <section class="band home-clients">
      <h1>Featured clients &amp; employers</h2>
      <ul class="client-list">
        <li><img src="assets/img/logos/Forrester.png"></li>
        <li><img src="assets/img/logos/Harmonix.png"></li>
        <li><img src="assets/img/logos/HarvardPilgrim.png"></li>
        <li><img src="assets/img/logos/LibertyMutual.png"></li>
        <li><img src="assets/img/logos/MFA.png"></li>
        <li><img src="assets/img/logos/Microsoft.png"></li>
        <li><img src="assets/img/logos/Simmons.png"></li>
        <li><img src="assets/img/logos/TJX.png"></li>
      </ul>

       <div class="round-button">
        <a href="http://www.linkedin.com/in/chausse">More at LinkedIn</a>
       </div>
      
    </section>

    <section class="band home-posts">

    <h1>Latest writing</h1>

        {{ content }}

         <ul class="home-post-list">
          {% for post in site.posts limit:3 %}
             <li>
               {% assign date_format = site.minima.date_format | default: "%B %-d, %Y" %}
               <span class="post-meta">{{ post.date | date: date_format }}</span>
               <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
             </li>
          {% endfor %}
         </ul>

         <div class="round-button">
          <a href="/writing">View all</a>
         </div>

      </section>

  {% include footer.html %}

  </body>

</html>