<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    <div id="heroImage">
      <img class="logo" src="/assets/img/logo.png">
      <div class="content">
        <h1 class="heroHeading">Five Planes</h1>
        <h2>Jeff Chausse on UX Design</h2>
      </div>
    </div> 

    <main class="page-content" aria-label="Content">
      <div class="wrapper">

        <div class="mainContent home">

          <h2 class="page-heading">Latest Writing</h2>
          
          {{ content }}

          <ul class="post-list">
            {% for post in site.posts %}
              <li>
                {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
                <span class="post-meta">{{ post.date | date: date_format }}</span>
                <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
              </li>
            {% endfor %}
          </ul>

        </div>

      </div>
    </main>


    <div id="about">
      <div class="content">
        <h1>About Jeff Chausse</h1>
        <p><img src="/assets/img/jeff-purple.png" class="profile-image">I've been building online experiences since 1998 – first as a web developer, now as a user experience designer. I've worked in design leadership roles in a variety of environments, including agencies, startups, and video game studios. I'm also a Certified Scrum Product Owner, trained by both Ken Schwaber and Jeff Sutherland, the co-creators of Scrum.</p>

        <p>I currently serve as Principal UX Designer at a Forrester, where I provide both strategic and hands-on design leadership for our client web portal and native mobile applications. </p>

        <p>Among colleagues, I am known for my ability to communicate equally effectively with designers, developers, marketers, and product managers. I believe that great design is at the core of all successful products, and I do everything I can to align all stakeholders toward this goal.</p>
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>

