---
layout: default
---

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
    <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>

    <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        Published {% assign date_format = site.minima.date_format | default: "%B %-d, %Y" %}
        {{ page.date | date: date_format }}
    </time>

    {{ content }}

    <div class="pageNavigation">
  	
    <div class="prev">{% if page.previous.url %}<div class="heading">Older:</div><a href="{{page.previous.url}}">{{page.previous.title}}</a>  {% endif %}</div>
  

    <div class="next">    {% if page.next.url %}<div class="heading ">Newer:</div><a href="{{page.next.url}}">{{page.next.title}}</a>   {% endif %}</div>

	</div>

</article>
